*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.navBar {
  width: 100%;
  height: 50px;
  background-color: hsl(216, 82%, 7%);
  position: sticky;
  top: 0;
  z-index: 999px;
  border-bottom: 7px solid  #072a5b;
  border-image: linear-gradient(to right, transparent, #072a5b, transparent)1;
}

.navBar__body {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(0, 0%, 100%);
}

.logo {
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}

.navBar__right {
  display: flex;
  align-items: center;
}

.navBar__rightIconContainer {
  margin-right: 15px;
  position: relative;
  cursor: pointer;
}

.navBar__rightBadgeNumber {
  font-size: 10px;
  height:15px;
  width: 15px;
  background-color: aliceblue;
  border-radius: 100%;
  color: black;
  position: absolute;
  top: 0;
  right: -5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2.2px 2.2px rgba(0, 0, 0, 0.75);
}